@model AboutMeInputModel

<div class="container">
    <h1 class="text-center">Добавяне</h1>
    <form asp-area="" asp-controller="AboutMe" asp-action="Add" method="post" class="form-horizontal">
        <div class="form-group">
            <label>Заглавие</label>
            <input type="text" class="form-control" asp-for="@Model.Title">
            <span class="text-danger" asp-validation-for="@Model.Title"></span>
        </div>
        <div class="form-group">
            <label>Описание</label>
            <textarea class="form-control" asp-for="@Model.Description" rows="3"></textarea>
            <span class="text-danger" asp-validation-for="@Model.Description"></span>
        </div>
        <div class="form-group">
            <div class="text-center">
                <input type="submit" value="Запази" class="btn btn-info btn-sm" />
                <a asp-controller="AboutMe" asp-action="Index" class="btn btn-danger btn-sm">Назад</a>
            </div>
        </div>
    </form>
</div>
