@model AppointmentInputModel
@using KTaseva.Models.Enums
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="margin">
        <form asp-area="" asp-controller="Appointments" asp-action="Add" method="post" class="form-horizontal">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Процедура</label>
                <select class="form-control" asp-for="@Model.Procedure" asp-items="Html.GetEnumSelectList<Procedures>()"></select>
            </div>

            <fieldset class="form-group row">
                <label class="col-sm-10">Имате ли стар лак за махане</label>
                <div class="col-sm-10">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="NailPolish" id="gridRadios1" value="Да" checked>
                            Да
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="NailPolish" id="gridRadios2" value="Не">
                            Не
                        </label>
                    </div>
                </div>
            </fieldset>

            <div class="form-group">
                <label>Избери дата и час</label>
                <div id="busyId"></div>
                <input class="form-control" asp-for="@Model.Date" id="datetimepicker" type="text" />
            </div>
            <hr />
            <div class="form-group">
                <div class="col-sm-10 col-sm-push-2">
                    <input type="submit" value="Запази" class="btn btn-info" />
                    <a asp-controller="Home" asp-action="Index" class="btn btn-danger">Назад</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css" />
<script src="/jquery.js"></script>
<script src="/build/jquery.datetimepicker.full.min.js"></script>

<input type="hidden" asp-for="@Model.BusyAppointment" id="GetBusy" />


<script>
    var getDateTime = [];
    var currentData
    //var dates = [];
    //var hours = [];

    var cDate;
    var cHour;


    let k = document.getElementById("GetBusy").value;
    getDateTime = $.parseJSON(k);

    //getDateTime.forEach(date => {
    //    var splits = date.split(' ');

    //    dates.push(splits[0]);
    //    hours.push(splits[1]);
    //});

    $('#datetimepicker').datetimepicker({
        allowTimes: [
            '09:00',
            '11:00',
            '13:00',
            '15:00',
            '17:00'
        ],
        disabledDates: '2020/04/12',
        formatDate: 'Y/m/d'
    });
    $.datetimepicker.setLocale('bg');

    let isCreatedSpan = true;
    let currentD;
    let arr = [];

    var div = document.getElementById("busyId");
    var span = document.createElement("span");
    var span2 = document.createElement("span");
    span.setAttribute("class", "badge badge-warning");
    span2.setAttribute("class", "badge badge-danger");


    $("#datetimepicker").change(function () {
        currentData = $("#datetimepicker").val();
        let split = currentData.split(' ');
        cDate = split[0];
        cHour = split[1];

        getDateTime.forEach(x => {
            let datesHours = x.split(' ');
            let d = datesHours[0];
            let h = datesHours[1];

            if (d === cDate) {
                if (!arr.hasOwnProperty(d)) {
                    arr[d] = new Array();
                    arr[d].push(h);
                }
                else if (!arr[d].includes(h)) {
                    arr[d].push(h);
                }

            }
        });

        if (currentD !== cDate) {
            currentD = cDate;

            for (const [key, value] of Object.entries(arr)) {
                if (key === cDate) {
                    span.textContent = "Заети часове:";
                    span2.textContent = value;
                    div.appendChild(span);
                    div.appendChild(span2);
                }
                else if (!arr.hasOwnProperty(cDate)) {
                    span.textContent = '';
                    span2.textContent = '';
                }
            }
        }
    })



</script>


