@model IEnumerable<ProcedureViewModel>

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light" style="text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px black; color: white;">Подари си миг красота, само за теб!</h1>
                <p class="lead" style="text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px black; color: white;">И ръцете ти имат нужда от специална грижа, за да изглеждат перфектно!</p>
                <a asp-area="" asp-controller="Appointments" asp-action="Add" class="btn btn-primary">Запази час</a>

            </div>
        </div>
    </div>
</header>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center">Процедури</h1>
    </div>
</div>

@if (this.User.IsInRole("Administrator"))
{
    <div class="d-flex justify-content-center">
        <a type="button" asp-area="Admin" asp-controller="Procedures" asp-action="Add" class="btn btn-primary btn-sm">Добави нова процедура</a>
    </div>
    <hr />
}

<div class="container text-center">
    <div class="row">
        @foreach (var procedure in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h5 class="card-title">@procedure.Name</h5>
                                <p class="card-text"></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><i class="far fa-clock"></i> @procedure.Duration</li>
                                <li class="list-group-item"><i class="far fa-money-bill-alt"></i> @procedure.Price</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>