@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light">Подари си миг красота, само за теб!</h1>
                <p class="lead">И ръцете ти имат нужда от специална грижа, за да изглеждат перфектно!</p>
                <a asp-area="" asp-controller="Appointments" asp-action="Add" class="btn btn-primary">Запази час</a>

            </div>
        </div>
    </div>
</header>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center">Процедури</h1>
    </div>
</div>

@*<div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>*@

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">Маникюр (почистване и оформяне)</h5>
                            <p class="card-text"></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="far fa-clock"></i> 30 мин.</li>
                            <li class="list-group-item"><i class="far fa-money-bill-alt"></i> 35 лв.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


