@model IEnumerable<PhotoViewModel>

@if (this.User.IsInRole("Administrator"))
{
    <vc:add-photo></vc:add-photo>
}
<div class="container">
    <div class="row">
        @foreach (var photo in Model)
        {
            <figure class="figure">
                <img src="@photo.Url" class="figure-img img-fluid rounded">
            </figure>

        }
    </div>
</div>
